---
layout: page
---
<link rel="stylesheet" href="/assets/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/owlcarousel/owl.theme.default.min.css">
<!-- jQuery -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url | bust_file_cache }}"></script> 

<div class="clearfix">
  {{ content }}
</div>


<script type="text/javascript">
  $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:0,
            nav:true,
            autoheight: true,
            autowidht: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:2
                }
            }
        })
    });
</script>